 <div class="container">
      <h1>Get QR of everything!</h1>
      <div class='actions'>
        <textarea placeholder='Get QR of your text...' rows={{3}} [value]="text" (keyup)="onKey($event)"></textarea>
        <button class="{{text?'':'disabled'}}"  (click)="generateQR()">Get QR</button>
      </div>
      <div *ngIf="qrText">
        <p>{{qrText}}</p>
        <div class='qr_div' >
          <qrcode [qrdata]="qrText" [width]="256" [margin]="0" [errorCorrectionLevel]="'M'" [colorDark]="'#747bff'"></qrcode>
          <div>
            <img src="../assets/download.gif" alt="" *ngIf="isDownloading" />
            <img src="../assets/download.png" alt="" (click)="downloadQRCode()" *ngIf="!isDownloading" />
            <img src="../assets/print2.png" alt="" (click)="print()" />
          </div>
        </div>
      </div>
</div>
